.article-item__title {
    background: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.article-item__title:hover {
    color: var(--main-theme-color);
}

/*Animation BODY*/
.article-item__container-enter {
    position: relative;
    top: -30px;
    opacity: 0;
}

.article-item__container-enter.article-item__container-enter-active {
    opacity: 1;
    top: 0;
    transition: all 0.3s ease-in-out;
}

.article-item__container-leave {
    position: relative;
    top: 0;
    opacity: 1;
}

.article-item__container-leave.article-item__container-leave-active {
    top: -30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}